#footer {
    
    text-align: center;
    justify-content: center;
    margin-left: 0%;
    margin-right: 0%;
    
}

#footer .contact-us{
    float: none;
    text-align: center;
    padding-left: 0%;
    
}


#footer .where-to-find{  
    float: none;
    text-align: center;
    padding-right: 0%;
       
}


#footer .where-to-find .map{
    padding-top: 7px;
    width: 350px;
    height: 180px;
}

