* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Main Styling*/

html,
body{
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

h1 {font-size: 2.441rem;}
h2 {font-size: 1.953rem;}
h3 {font-size: 1.563rem;}
h4 {font-size: 1.25rem;}

p{
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: #4d4d4d;
}

/* Utility Classes*/

.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}
.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn-light{
    background: #fec281;
    color: black;
}

.btn-dark{
    background: #4d4d4d;
}

.btn-light:hover{
    background: #fda90f;
}

.btn-dark:hover{
    background: black;
}

.py-80{padding: 80px 0;}
.py-50{padding: 50px 0;}
.py-30{padding: 30px 0;}

.box{
    float: left;
    width: 33.3%;
    text-align: center;
    padding: 50px;    
    height: 250px;
}

.box h3{

    padding-bottom: 20px;

}

.clr{
    clear: both;
}


/* Navbar*/

#navbar {

    background-color: #0d3269;
}

#navbar .logo{
    font-size: 2.3rem;
    float: left;
    margin-left: 70px;
}

#navbar h1 a img{
    width: 100px;
}


#navbar ul{
    float: right;
    list-style: none;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a.current,
#navbar ul li a.current:hover{
    color: #0d3269;
    background-color: white;
}

/*Slideshow*/

.slider-frame{
    position: relative;
}
.slider-frame .welcome {
    text-transform: uppercase;
    background-color: rgba(3, 5, 3, 0.7);
    position: absolute;    
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 7.07em;
    color: white;

}


.slider-frame {
    height: 700px;	
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {  
    height: 700px;  
    text-align: center;
    background-size: cover;
	width: 100%;
	list-style: none;
    
}

.li-1{
    background-image: url(Images/frontal_hotel.jpeg);
    background-repeat: no-repeat;
    background-position: center;    
}

.li-2{
    background-image: url(Images/habitacion_solitaria.jpeg);
    background-repeat: no-repeat;
    background-position: center;     
}

.li-3{
    background-image: url(Images/habitacion_doble.jpeg);
    background-repeat: no-repeat;
    background-position: center;     
}

.li-4{
    background-image: url(Images/habitacion_familiar.jpeg);
    background-repeat: no-repeat;
    background-position: center;     
}




@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/*Showcase*/

.showcase {
    color:#4d4d4d;
    background-color: white;
    background-position: center;
    background-size: cover;
    padding: 2%;
    text-align: center;    
    background-repeat: no-repeat;  
}

.showcase h1,
.showcase p{
    padding-bottom: 20px;
}

.showcase h1{

    text-transform: uppercase;
    font-weight: lighter;
}

.showcase img{
    height: 250px;
}

/*logo-offer*/
#offer {
    padding-bottom: 2%;
}

#offer h1{
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.logo-container {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.column {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 5px;
}

.logo-container .row .column img{
    height: 100px;

}

/* Features*/

#features{
    padding-left: 100px;
    padding-right: 100px;
}

.colorino{
    position: relative;
    background-color: rgba(3, 5, 3, 0.505);
    height: 100%;
    
}

#features .features-1{  
    
    padding: 0;
    background: url(Images/habitacion_solitaria.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}


#features .features-2{
        
    padding: 0;
    background: url(Images/habitacion_doble.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}


#features .features-3{
     
    padding: 0;
    background: url(Images/habitacion_familiar.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.colorino-text{
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    
            
}


/*Reservation*/
#reservation{
    padding-top: 2%;
}

#reservation div{
    padding-left: 10%;
    padding-right: 10%;
}

#reservation h2{
    float: left;    
    font-weight: lighter;
    color: #4d4d4d;
}

#reservation a{
    float: right;
    background-color: #0d3269;    
}



/*About*/

#about{
    
    color: #4d4d4d;
}

#about .about-content {
    float: left;
    width: 50%;
    padding-right: 20px;
    padding-left: 44px;
    margin-top: 10%;
    font-weight:lighter;
    padding-bottom: 20px;
}


#about .about-content h1{
    text-transform: uppercase;
    width: 560px;
    padding-bottom: 30px;
}

#about .about-content p{
    text-align: justify;
    width: 104%;
}

#about .about-img{
    padding-right: 5%;
    float: right;
}

#about .about-img img{

    width: 100%;
    height: 100%;

}


/*Finding*/


#find{
    padding: 40px;
    text-align: center;
    margin: auto;
    background-position: center;
}

#find .map h2{
    color: black;
    padding-bottom : 40px;

}



/*Testimonials*/

#testimonio{    
    background: url(Images/testimonio.jpg);
    background-color: rgba(3, 5, 3, 0.505);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#testimonio .opinan{
    height: 100%;
    width: 100%;
    background-color: rgba(3, 5, 3, 0.505);
    padding: 40px;    
     
}

#testimonio h2{
    background-position: center;
    text-align: center; 
    width: 500px;
    height: 45px;
    border-radius: 25px;  
    margin: auto;
      
}

.testimonio-content{
    padding: 20px;  
    border-radius: 25px;
    width: 700px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.testimonio-content img{
    border-radius: 7px;
    margin: auto;
    display: block;
}

/*Footer*/


#mainfooter{
    background-color: #0d3269;
    
}

#footer {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#footer .contact-us{
    float: left;
    text-align: left;
    padding-left: 20%;    
}

#footer .contact-us .phone{
    padding-top: 7px;
}

#footer .contact-us h1{
    font-weight: lighter;
}

#footer .contact-us .phone {
    list-style: none;
}

#footer a{
    text-decoration: none;
    color: white;
}

#footer .contact-us .rrss{
    padding-top: 29px;
}

#footer .contact-us .social{
    padding-top: 8px;
}

#footer .contact-us .social li{
    display: inline-block;
}

#footer .contact-us .social img{
    height: 50px;
}

#footer .where-to-find{  
    float: right;
    text-align: left;
    padding-right: 20%;    
}

#footer .where-to-find h1{
    font-weight: lighter;
}

#footer .where-to-find .map{
    padding-top: 7px;
    width: 368px;
    height: 200px;
}

#mainfooter p{    
    padding-top: 2%;
    text-align: center;    
}

